* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

nav {
  background-color: #0c325a;
  padding: 1% 6%;
}

/* clearfix nav bar */
nav::after {
  clear: both;
  content: "";
  display: table;
}

.logo, .nav-right, .nav-left {
  float: left;
}

nav a {
  color: #FFF;
  text-decoration: none;
}

nav li {
  display: inline-block;
  font-size: 12px;
  list-style: none;
  padding-right: 30px;
  text-transform: uppercase;
}

.logo {
  padding-right: 50px;
  width: 15%;
}

.nav-left {
  width: 45%;
  margin-top: 8px;
}

.nav-right {
  width: 40%;
  margin-top: 3px;
}

.button {
  background-color: #7cbb02;
  border: none;
  border-radius: 5px;
  color: white;
  display: inline-block;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* bottone trasparente */
#button-transp {
  background-color: transparent;
  border: 1px solid #FFF;
  padding: 10px 40px;
}

/* clearfix header */
header {
  background-color: #0c325a;
  clear: both;
  content: "";
  display: table;
  padding: 0 6%;
  padding-top: 50px;
  width: 100%;
}

header img {
  float: right;
  width: 70%;
}

.header-text {
  color: #FFF;
  font-size: 24px;
  margin-top: 100px;
  position: absolute;
  width: 35%;
}

header .button {
  font-size: 14px;
  margin-top: 40px;
  padding: 20px 25px;
}

/* barra grigia + titoli */
.bar {
  background-color: #d3d3d3;
  padding: 50px 0;
}

.bar h2 {
  font-size: 30px;
  text-align: center;
}

.bar h3 {
  color: #a0a0a0;
  font-size: 26px;
  padding: 15px 0;
  text-align: center;
}

/* flexbox sezione principale */
section:first-of-type {
  border-bottom: 1px solid #d3d3d3;
  display: flex;
  justify-content: space-between;
  padding: 0 6%;
}

.col-l, .col-c, .col-r {
  margin-bottom: 50px;
  width: 30%;
}

.section-1 img {
  display: block;
  height: 150px;
  margin: 30px 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 50%;
}

/* titoli sezione 1 */
section h2 {
  color: #7cbb02;
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

hr {
  margin: auto;
  width: 20%;
}

/* paragrafi sezione 1 */
section p {
  color: #a0a0a0;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

/* flexbox sezione 2 */
section:last-child {
  display: flex;
  height: 500px;
  justify-content: center;
}

.section-2 img {
  padding: 40px 0;
  margin-right: 100px;
  width: 30%;
}

.section-2-text h3, .section-2-text p {
  font-size: 30px;
  margin-top: 40px;
  width: 400px;
}

.section-2-text p {
  font-size: 20px;
  margin-top: 20px;
  text-align: left;
}

.section-2 a {
  display: block;
  margin-top: 20px;
}

footer .bar h2 {
  color: #000;
  display: inline-block;
  padding: 0 6%;
}

footer .bar {
  color: #a0a0a0;
  font-weight: bold;
  width: 100%;
}

.input-container {
  float: right;
  margin-right: 60px;
}

.input {
  display: inline-block;
  margin-right: 20px;
}

.input-border {
  border-bottom: 1px solid #a0a0a0;
  padding-right: 80px;
}

.input-border-2 {
  border-bottom: 1px solid #a0a0a0;
}

footer .button {
  font-weight: normal;
  margin-left: 50px;
}
