* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

nav {
  background-color: #0c325a;
  padding: 1% 6%;
}

nav::after {
  clear: both;
  content: "";
  display: table;
}

a {
  color: #FFF;
  text-decoration: none;
}

nav li {
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  list-style: none;
  padding-right: 30px;
}

.logo {
  display: inline-block;
  padding-right: 50px;
  vertical-align: middle;
  width: 180px;
}

.nav-left {
  display: inline-block;
}

.nav-right {
  display: inline-block;
  float: right;
}

.button {
  background-color: #7cbb02;
  border: none;
  border-radius: 5px;
  color: white;
  display: inline-block;
  padding: 10px 15px;
  text-align: center;
}

#button-transp {
  background-color: transparent;
  border: 1px solid #FFF;
  padding: 10px 40px;
}

header {
  width: 100%;
  padding: 0 6%;
  padding-top: 50px;
  background-color: #0c325a;
  clear: both;
  content: "";
  display: table;
}

header img {
  width: 70%;
  float: right;
}

.header-text {
  margin-top: 100px;
  font-size: 24px;
  width: 35%;
  color: #FFF;
  position: absolute;
}

header .button {
  margin-top: 40px;
  padding: 20px 25px;
  text-transform: uppercase;
  font-size: 14px;
}

.bar {
  background-color: #d3d3d3;
  padding: 50px 0;
}

.bar h2 {
  font-size: 30px;
  text-align: center;
}

.bar h3 {
  padding: 15px 0;
  text-align: center;
  color: #a0a0a0;
  font-size: 26px;
}

section {
  padding: 0 6%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d3d3d3;
}

.col-l, .col-c, .col-r {
  margin-bottom: 50px;
  float: left;
  width: 30%;
}

section img {
  margin: 30px 0;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: relative;
}

section h2 {
  color: #7cbb02;
  text-align: center;
  margin-bottom: 20px;
}

hr {
  width: 20%;
   margin: auto;
}

section span {
  display: inline-block;
  margin-top: 20px;
  color: #a0a0a0;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

section:last-child {
  background-color: #420dab;
  height: 500px;
}
